extend layout

block content
  h1= title
  a(href="/blog/new")!= "New"
  form( method="post" action="/blog/del")
    #articles
      - each article in articles
        div.article
          div.title 
            table
              tr
                td(width="99%")
                  a(href="/blog/"+article._id.toHexString())!= article.title
                td(width="1%" align="right")
                  input(type="checkbox", id="delart" name="id" value=article._id.toHexString()) 
          div.created_at= article.created_at
          div.body= article.body
      input(type="submit",name="Delete",value="Delete",id="delbtn",)
